@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1672935023410') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
  content: "\e605";
}

.icon-moonbyueliang:before {
  content: "\e6a0";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-a-qingtianbaitian:before {
  content: "\e6a6";
}

