.wrapper{
  width: 55vw;
  height: 300px;
  background: linear-gradient(135deg , var(--light-image-bg-start-color),var(--light-image-bg-half-color), var(--light-image-bg-end-color));
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  >h1{
    user-select: none;
    color: var(--light-image-font-color);
  }
}