.wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  >.tag{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 55vw;
    >li{
      margin-right: 30px;
    }
  }
  >.bigCard{
    margin-top: 30px;
  }
  >.smallCard{
    display: flex;
    margin-top: 30px;
    width: 55vw;
    li{
      margin-right: 30px;
    }
  }
}
