.wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  >.tag{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 55vw;
    >li{
      margin-right: 30px;
    }
  }
  >.bigCard{
    margin-top: 30px;
  }
  >.smallCard{
    display: flex;
    margin-top: 30px;
    width: 55vw;
    li{
      margin-right: 30px;
    }
  }
}
.footer{
  margin-top: 80px;
  height: 120px;
  background-color: var(--light-top-nav-bg-color);
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: center;
  >span{
    margin-top: 20px;
    margin-bottom: 10px;
  }
}