.wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  >img{
    width: 55vw;
  }
  >.list{
    display: flex;
    width: 55vw;
    flex-wrap: wrap;
    justify-content: space-around;
    >li{
      margin-top: 30px;
    }
  }
}