.font{
  font-size: 29px;
  position: relative;
  line-height: 1.8;
  color: var(--light-font-style-color);
}
.font::before{
  content: '';
  width: 120%;
  display: block;
  height: 21px;
  border-radius: 100px;
  background: linear-gradient(90deg, #FF4AA8 0%, #F95D66 22%, #FE9C76 100%);
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: -5%;
}