:root {
  --light-body-bg-color:#f3f7fd;
  --light-top-nav-bg-color:white;
  --light-font-color:black;
  --light-font-hover-color:#6f6e80;
  --light-font-hover-logo-bg-color:#f7f7f8;
  --light-image-bg-start-color:#a8c4fb;
  --light-image-bg-end-color:#f7d2cd;
  --light-image-bg-half-color:#c6f2ed;
  --light-image-font-color:white;
  --light-tag-bg-hover-color:#d3ece9;
  --light-tag-logo-color:#fcfdff;
  --light-tag-font-hover-color:#6c6c7f;
  --light-tag-font-color:black;
  --light-tag-bg-color:#c8e8e3;
  --light-big-card-bg-color:white;
  --light-card-shadow-color: rgba(149, 157, 165, 0.2);
  --light-big-card-p-color:rgba(63, 61, 85, 0.63);
  --light-font-style-color:#3F3D55;
}